*
!.gitignore

!gradle/
!gradle/**

!libs
!libs/**

!src/
!src/**

!screenshots/
!screenshots/**

!build.gradle
!build.gradle.kts
!settings.gradle
!settings.gradle.kts
!gradlew
!gradlew.bat
!gradle.properties

!README.md